@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<div class="page">
    @*<NavMenu />*@

    <main>
        <div class="col-md-12">
            <SfAppBar ColorMode="AppBarColor.Primary">
                <SfButton aria-label="menu" CssClass="e-inherit menu" IconCss="e-icons e-menu"></SfButton>
                <span class="regular">Blazor AppBar</span>
                <AppBarSpacer></AppBarSpacer>
                <SfButton CssClass="e-inherit login" Content="FREE TRIAL"></SfButton>
            </SfAppBar>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>